.contact-section{


min-height:650px;


display:flex;


justify-content:center;


align-items:center;


background:#fafafa;


padding:50px;


}




.contact-card{


width:500px;


background:white;


padding:45px;


box-shadow:
0 15px 40px rgba(0,0,0,.08);


animation:
show .6s ease;


}



.contact-card h1{


text-align:center;


font-size:32px;


}



.contact-card p{


text-align:center;


color:#777;


}




.contact-card label{


display:block;


margin-top:20px;


font-size:14px;


}




.contact-card input,
.contact-card textarea{


width:100%;


padding:14px;


margin-top:8px;


border:1px solid #ddd;


box-sizing:border-box;


font-family:Montserrat,sans-serif;


}




.contact-card input:focus,
.contact-card textarea:focus{


outline:none;


border-color:#b08d57;


}





.contact-card button{


width:100%;


margin-top:25px;


padding:14px;


background:#111;


color:white;


border:none;


cursor:pointer;


transition:.3s;


}




.contact-card button:hover{


background:#b08d57;


}




#response{


margin-top:20px;


font-weight:600;


}




@keyframes show{


from{


opacity:0;


transform:translateY(30px);


}


to{


opacity:1;


transform:translateY(0);


}


}