@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



/* =========================
   GENERAL
========================= */


body{


margin:0;


font-family:"Montserrat",sans-serif;


background:#fafafa;


color:#222;


}







/* =========================
   REGISTER SECTION
========================= */


.register-section{


min-height:750px;


display:flex;


justify-content:center;


align-items:center;


padding:60px 20px;


}





.register-card{


background:white;


width:430px;


padding:45px;


box-shadow:
0 15px 40px rgba(0,0,0,.08);


animation:
show .6s ease;


}





.register-card h1{


text-align:center;


font-size:32px;


font-weight:600;


margin-bottom:10px;


}





.register-card p{


text-align:center;


color:#777;


font-size:14px;


}






/* =========================
   FORM
========================= */


.register-card label{


display:block;


font-size:14px;


margin-top:18px;


color:#333;


}





.register-card input,
.register-card select{


width:100%;


padding:13px;


margin-top:7px;


border:1px solid #ddd;


font-family:"Montserrat",sans-serif;


box-sizing:border-box;


outline:none;


background:white;


}





.register-card input:focus,
.register-card select:focus{


border-color:#b08d57;


}






.register-card h3{


margin-top:35px;


font-size:17px;


font-weight:500;


border-bottom:1px solid #eee;


padding-bottom:10px;


}







/* =========================
 BUTTON
========================= */


.register-button{


width:100%;


margin-top:30px;


padding:14px;


background:#111;


color:white;


border:none;


cursor:pointer;


font-size:15px;


transition:.3s;


}



.register-button:hover{


background:#b08d57;


}







/* =========================
 MESSAGE
========================= */


#message{


margin-top:20px;


font-weight:500;


}







.login-link a{


color:#b08d57;


text-decoration:none;


}







/* =========================
 ANIMATION
========================= */


@keyframes show{


from{


opacity:0;


transform:translateY(30px);


}


to{


opacity:1;


transform:translateY(0);


}


}







/* =========================
 RESPONSIVE
========================= */


@media(max-width:600px){



.register-card{


width:90%;


padding:30px;


}

.register-card{

animation:show .6s ease;

}



@keyframes show{

from{

opacity:0;
transform:translateY(40px);

}


to{

opacity:1;
transform:translateY(0);

}

}



.register-button:hover{

transform:scale(1.03);

}

}

